@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #546778;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  margin: 20px;
}
.katex {
  font-size: 1em !important;
}
